.med{
    margin-top: 50px;
}
.rhbh{
    text-align: center;
    background-color: black;
    color: white;
    border: solid white 2px;
}
.rhbhb{
    text-align: center;
    background-color: black;
    color: white;
    border: solid white 2px;
}
.rhbhs{
    text-align: center;
    background-color: black;
    color: white;
    border: solid white 2px;
}