.electronicstext{
    font-size: 20px;
}
.electronicimage{
    height: 200px;
    width: 200px;
    border: solid 2px black;
}
.musicalimage{
    height: 200px;
    width: 200px;
    border: solid 2px black;
}